node_modules/
**/node_modules/

.env
.env.*   # Covers .env.development, .env.production, etc.

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
Thumbs.db

dist/
build/
out/
.next/
coverage/
tmp/
temp/
.cache/
.nyc_output/
storybook-static/

*.tsbuildinfo

.angular/
.angular/cache/
**/.angular/
**/.angular/cache/
**/angular/cache/
**/angular/cache/**/
sports-website/angular/cache/



.vscode/
.idea/
*.sublime-workspace
*.sublime-project

coverage/
*.lcov
.eslintcache

*.tgz
*.zip

*.swp

